body {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.location + .location {
  margin-top: 2rem;
}

.classes {
  margin-bottom: 1rem;
}

.day {
  margin-bottom: 1rem;
}

.text-centered {
  text-align: center;
}
